<section>
    <div class="container">
        <table class="table mt-5">
            <thead>
                <tr scope="row">
                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>

            <tbody>
                {{#each products}}
                <tr>
                    <td><img src="/product-images/{{this.product._id}}.png" alt="" style="width: 70px; height: 70px"></td>
                    <td>{{this.product.Name}}</td>
                    <td>Rs.{{this.product.Price}}</td>
                    <td>
                        <button class="cart-item-count mr-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',-1)">-</button>
                        <span id="{{this.product._id}}">{{this.quantity}}</span>
                        <button class="cart-item-count ml-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',1)">+</button>
                    </td>
                    <td>
                        <a href="" class="btn btn-danger" onclick="deleteItemCart('{{this._id}}','{{this.product._id}}')">Remove</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        <hr>
        <h3 class="float-right text-end mr-5 mt-4">Total : Rs<span id="total">{{totalValue}}</span></h3>
        <a href="/place-order" class="float-end btn btn-success mt-3 mr-5">Place Order</a>
    </div>
</section>

<script>
    function changeQuantity(cartId,proId,userId,count){
        console.log(proId)
        console.log("this is the user id "+userId)
        let quantity = parseInt(document.getElementById(proId).innerHTML)
        count = parseInt(count)
        $.ajax({
            url:'/change-product-quantity',
            data:{
                user:userId,
                cart: cartId,
                product: proId,
                count: count,
                quantity:quantity
            },
            method:'post',
            success:(response)=>{
                if(response.removeProduct){
                    alert("Product Removed from Cart")
                    location.reload()
                }else{
                    document.getElementById(proId).innerHTML=quantity+count
                    document.getElementById('total').innerHTML=response.total
                }
            }
        })
    }

    function deleteItemCart(cartId,proId){
        $.ajax({
            url:'/delete-product-item',
            data:{
                cart: cartId,
                product: proId
            },
            method: 'post',
            success:(response)=>{
                if(response.removeProduct){
                    alert("Product Removed from Cart")
                    location.reload()
                }
            }
        })
    }
</script>